doctype html
html(lang="sv_SE").h-100
  head
    title.title= title
    meta(name='viewport', content='width=device-width, initial-scale=1', charset='utf-8')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    link(rel="stylesheet" href="/leaf/leaflet.css")
    script(src="/leaf/leaflet.js")

    link(rel='stylesheet', href='/clstr/MarkerCluster.css')
    script(src='/clstr/leaflet.markercluster.js')

    script(src='javascripts/map.js')
    script(src='javascripts/errors.js')


    script(src='/js/bootstrap.min.js')
  body
    block content
